@media (hover: hover) {
    #nav div:hover .subnav{
        display: flex;
        flex-direction: column;
    }

    .nav__item:hover {
        color: var(--black-color);
        background-color: var(--white-color);
    }

    .subnav__item:hover {
        color: var(--black-color);
        background-color: #ccc;
    }

    .header__btn:hover {
        opacity: 0.8;
    }

    .info__desc a:hover {
        color: #fff;
        opacity: 0.8;
    }
}